* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  /* background-color: #f00f; */
}
/* :root {
} */
